{% extends "layout.html" %}

{% block title %}
    Art
{% endblock %}

{% block main %}
  <section class="flex-parent row" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div class="col-3">
        <h2>All Artworks</h2>
    </div>
    <!-- Search bar later
    <div class="col-3 flex-child" style="align-self: flex-end; padding-right: 100px; display: flex; gap: 10px;">
        <input> <!-- Search bar here
        <button class="btn btn-light" type="search">Search</button>
    </div>
  </section>
  --> 


    
    <div class="container-fluid mt-5">
      <div class="row g-5">
        {% for art in all_art %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-6"> <!-- Change here for pieces of art per row -->
          <a href="{{ art.url }}" class="text-decoration-none">
          <div class="art-card1">
            <div class="art-image" style="background-image: url('{{ url_for('static', filename=art.image_url) }}');" data-title="{{ art.artist_name }}"></div>
            <div class="card-body">
              <p class="card-title black-font">{{ art.title }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <!-- Attempted scroll fade in. Save for later
    <script>
      const observer = new IntersectionObserver ((entries) => {
        entries.forEach((entry) => {
          console.log(entry)
          if (entry.IsIntersecting) {
            entry.target.classList.add('show');
          } else {
            entry.target.classList.remove('show');
          }
        });
      });
      
      const hiddenElements= document.querySelectorAll('hidden');
      hiddenElements.forEach((el) => observer.observe(el));
  
    </script>
    -->
    
  
{% endblock %}

