{% extends "layout.html" %}

{% block title %}
    Art
{% endblock %}

{% block main %}
    <section class="flex-parent">
        <div class="flex-child" style="text-align: left">
          Please browse and choose art of your liking. You can also search by genre, artist, or the title of the piece.
        </div>
        <div class="flex-child" style="text-align: right; padding-right: 100px">
            <input> <!-- Search bar here-->
            <button class="btn btn-light" type="search">Search</button>
        </div>
    </section>

    <div class="art-index">
        <div class="index-filter">
            <li letter="A">A</li>
            <li letter="B">B</li>
            <li letter="C">C</li>
            <li letter="D">D</li>
            <li letter="E">E</li>
            <li letter="F">F</li>
            <li letter="G">G</li>
            <li letter="H">H</li>
            <li letter="I">I</li>
            <li letter="J">J</li>
            <li letter="K">K</li>
            <li letter="L">L</li>
            <li letter="M">M</li>
            <li letter="N">N</li>
            <li letter="O">O</li>
            <li letter="P">P</li>
            <li letter="Q">Q</li>
            <li letter="R">R</li>
            <li letter="S">S</li>
            <li letter="T">T</li>
            <li letter="U">U</li>
            <li letter="V">V</li>
            <li letter="W">W</li>
            <li letter="X">X</li>
            <li letter="Y">Y</li>
            <li letter="Z">Z</li>
            <li letter="all">View All</li>
        </div>
    </div>
    
    <div class="container-fluid mt-4">
      <h2>All Artworks</h2>
      <div class="row g-4">
        {% for art in all_art %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <a href="{{ art.url }}" class="text-decoration-none">
          <div class="art-card card">
            <div class="art-image" style="background-image: url('{{ url_for('static', filename=art.image_url) }}');" data-title="{{ art.artist_name }}"></div>
            <div class="card-body">
              <p class="card-title">{{ art.title }}</p>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    
    
    
  
{% endblock %}

