{% extends "layout.html" %}

{% block title %}
    Artists
{% endblock %}

<!-- Need to add a search bar using AJAX through my database top left -->

{% block main %}
<!-- Display the A-Z of artists 20 results per page to start with showing their profile pictures, their scene/s and genre
all links to their profile page -->
<div style="text-align: left; padding-left: 60px">
    <h4>Artists</h4>
</div>
<div class="container-parent">
    <div class="container-fluid mt-4">
        <div class="row g-4">
        {% if users %}
            {% for user in users[:6] %}
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <a href="{{ url_for('artist_profile', artist_name=user.artist_name) }}" class="text-decoration-none">
                    <div class="art-card1 card">
                        <div class="art-image" style="background-image: url('{{ url_for('static', filename=user.profile_picture_url if user.profile_picture_url else 'default-profile.jpg') }}');" data-title="{{ user.artist_name }}"></div>
                        <div class="card-body">
                            <h5 class="card-title black-font">{{ user.artist_name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

    <div class="artist-index">
        <div class="index-filter">
            <li letter="A">A</li>
            <li letter="B">B</li>
            <li letter="C">C</li>
            <li letter="D">D</li>
            <li letter="E">E</li>
            <li letter="F">F</li>
            <li letter="G">G</li>
            <li letter="H">H</li>
            <li letter="I">I</li>
            <li letter="J">J</li>
            <li letter="K">K</li>
            <li letter="L">L</li>
            <li letter="M">M</li>
            <li letter="N">N</li>
            <li letter="O">O</li>
            <li letter="P">P</li>
            <li letter="Q">Q</li>
            <li letter="R">R</li>
            <li letter="S">S</li>
            <li letter="T">T</li>
            <li letter="U">U</li>
            <li letter="V">V</li>
            <li letter="W">W</li>
            <li letter="X">X</li>
            <li letter="Y">Y</li>
            <li letter="Z">Z</li>
            <li letter="all">View All</li>
          </div>
        </div>

        <!-- Full index of artists in three columns -->
        <div class="artist-index-table-wrapper">
            <ul class="artist-index-table">
                <li class="artist-index-name" index-letter="B">
                <a href="/artist/jason-breish">Jason Breish</a>
                </li>
                <li class="artist-index-name" index-letter="C">
                <a href="/artist/claude-monet">Claude Monet</a>
                </li>
                <li class="artist-index-name" index-letter="E">
                    <a href="/artist/egon-schiele">Egon Schiele</a>
                </li>
                <li class="artist-index-name" index-letter="G">
                    <a href="/artist/gustav-klimpt">Gustav Klimpt</a>
                </li>
                <li class="artist-index-name" index-letter="J">
                    <a href="/artist/van-eyck">Jan van Eyck</a>
                </li>
                <li class="artist-index-name" index-letter="J">
                    <a href="/artist/jan-vermeer">Johannes Vermeer</a>
                </li>
                <li class="artist-index-name" index-letter="L">
                    <a href="/artist/rembrandt">Leonardo da Vinci</a>
                </li>
                <li class="artist-index-name" index-letter="M">
                    <a href="/artist/mc-escher">MC Escher</a>
                </li>
                <li class="artist-index-name" index-letter="P">
                    <a href="/artist/piet-mondrian">Piet Mondrian</a>
                </li>
                <li class="artist-index-name" index-letter="V">
                <a href="/artist/van-gogh">Vincent van Gogh</a>
                </li>
            </ul>
        </div>


          <!-- <script>
          $('.artist-index .index-filter li').on('click', function () {
            var letter = $(this).attr('letter');
            if(letter == 'all') {
            $('.artist-index .inner li').show();
            }
            else {
            $('.artist-index .inner li').hide();
            $('.artist-index .inner li[index-letter="' + letter + '"]').show();
            }
          });
            
          </script> -->

    
{% endblock %}