{%  extends "layout.html" %}

{% block title %}
    artwork
{% endblock %}

{% block main %}


<div class="container-fluid mt-3">
    <div class="row justify-content-around">
        <!-- Artwork Image Container -->
        <div class="col-6">
            <div class="artwork-image" style="align-items: flext-start">
                <img src="{{ image_url }}" alt="{{ art_detail.title }}" class="img-fluid">
            </div>
        </div>

        <!-- Artwork Details Container -->
        <div class="col-6 text-start">
            <div class="art-details" style="padding-right: 15%">
                <h1>{{ art_detail.title }}</h1>
                <h5>by: {{ art_detail.artist_name }}</h5>
                <br>
                <p class="text-start">{{ art_detail.description }}</p>
            </div>
            <!-- Include the size and price options for each piece of artwork and have the buttons be selectable. Show the price below. -->
            <div class="size-options" style="padding-top: 100px;">
                <div class="options-selectors">
                    <div class="option-selector">
                        <fieldset class="option-selector-fieldset">
                            <p class="upperclass">
                                <b>CHOOSE PRINT SIZE</b>
                            </p>
                            <div class="option-selector-btns">
                                <input class="btn-check" id="btnradio1" name="btnradio" type="radio" onchange="showPrice()">
                                <label class="btn btn-outline-primary" for="btnradio1">8.5 x 11</label>
                                <input class="btn-check" checked id="btnradio2" name="btnradio" type="radio" onchange="showPrice()">
                                <label class="btn btn-outline-primary" for="btnradio2">16 x 20</label>
                                <input class="btn-check" id="btnradio3" name="btnradio" type="radio" onchange="showPrice()">
                                <label class="btn btn-outline-primary" for="btnradio3">24 x 36</label>
                            </div><br>
                            <i>
                                Maximum print dimensions above are listed in inches.  Actual print size is based on the original image aspect ratio.<br>
                                Dimensions: Each print retains the art's original proportion/aspect ratio within the selected print size. <br>
                                The print has a 1/2 inch handling border.
                            </i>
                        </fieldset><br>
                        <div class="price-container">
                            <div class="current-price" id="price-a5">
                                <h4 id="a5_price" style="display: none;">${{ art_detail.a5_price }}</h4>
                            </div>
                            <div class="current-price" id="price-a4">
                                <h4 id="a4_price" style="display: none;">${{ art_detail.a4_price }}</h4>
                            </div>
                            <div class="current-price" id="price-a3">
                                <h4 id="a3_price" style="display: none;">${{ art_detail.a3_price }}</h4>
                            </div>
                        </div>
                        <script>
                            var selectedPrice;

                            function showPrice() {
                                var radioButtons = document.getElementsByName("btnradio");
                                var priceElements = document.querySelectorAll(".current-price h4");
                                
                        
                                for (var i = 0; i < radioButtons.length; i++) {
                                    if (radioButtons[i].checked) {
                                        priceElements[i].style.display = "block";
                                        selectedPrice = parseFloat(priceElements[i].textContent.replace("$", ""));
                                    } else {
                                        priceElements[i].style.display = "none";
                                    }
                                }
                            }
                        
                            // Call showPrice initially to show the default selected price
                            showPrice();
                        </script>

                        <div class="buy-buttons-row row">
                            <form action="/cart" method="POST">
                                <div class="quantity-submit-row row">
                                    <div class="quantity-wrapper">
                                        <button id="decrease-btn" type="button">-</button>
                                        <span id="quantity-display">1</span>
                                        <button id="increase-btn" type="button">+</button>
                                        <button onclick="addToCart()">+ Add to Cart</button>
                                        <button>+ Buy it Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- For the Quantity buttons... -->
                        <script>
                            // Get references to the elements
                            var decreaseBtn = document.getElementById("decrease-btn");
                            var quantityDisplay = document.getElementById("quantity-display");
                            var increaseBtn = document.getElementById("increase-btn");
                        
                            // Set the initial quantity and price
                            var quantity = 1;
                            var priceElements = document.querySelectorAll(".current-price h4");
                            var prices = Array.from(priceElements).map(element => parseFloat(element.textContent.replace("$", "")));
                        
                            // Function to update the displayed price
                            function updatePrice(totalPrice) {
                                priceElements.forEach((element, index) => {
                                    element.textContent = "$" + totalPrice[index].toFixed(2);
                                });
                            }
                        
                            // Function to decrease the quantity
                            decreaseBtn.addEventListener("click", function() {
                                if (quantity > 1) {
                                    quantity--;
                                    quantityDisplay.textContent = quantity;
                                    var totalPrice = prices.map(price => price * quantity);
                                    updatePrice(totalPrice);
                                }
                            });
                        
                            // Function to increase the quantity
                            increaseBtn.addEventListener("click", function() {
                                quantity++;
                                quantityDisplay.textContent = quantity;
                                var totalPrice = prices.map(price => price * quantity);
                                updatePrice(totalPrice);
                            });
                        </script>
                        
                        

                        <!-- For the 'Add to Cart' button -->
                        <script>
                            function addToCart() {
                            // Gathering artwork details
                            var artId = "{{ art_detail.art_id }}";
                            var artTitle = "{{ art_detail.title }}";
                            var imageUrl = "{{ image_url }}";
                            var artistName = "{{ art_detail.artist_name }}";

                            // Get the selected size from radio buttons on the page
                            var sizeSelected;
                            var radioButtons = document.getElementsByName("btnradio");
                            var selectedPrice; // Define selectedPrice here
                            for (var i = 0; i < radioButtons.length; i++) {
                                if (radioButtons[i].checked) {
                                    sizeSelected = radioButtons[i].nextElementSibling.textContent.trim(); // Get the label text
                                    selectedPrice = parseFloat(document.querySelectorAll(".current-price h4")[i].textContent.replace("$", ""));
                                    break;
                                }
                            }

                            // Get the quantity
                            var quantity = parseInt(document.getElementById("quantity-display").textContent);

                            // Calculate the item price
                            var itemPrice = selectedPrice; // itemPrice is the same as selectedPrice

                            // Calculate the total price
                            var totalPrice = itemPrice * quantity;

                            // Store data in session storage
                            sessionStorage.setItem("cart", JSON.stringify({
                                "artId": artId,
                                "artTitle": artTitle,
                                "artistName": artistName,
                                "imageUrl": imageUrl,
                                "sizeSelected": sizeSelected,
                                "itemPrice": itemPrice,
                                "totalPrice": totalPrice,
                                "selectedPrice": selectedPrice,
                                "quantity": quantity,
                            }));

                            // Redirect to the shopping cart page
                            var url = "/cart/add?artTitle=" + encodeURIComponent(artTitle) +
                                "&artistName=" + encodeURIComponent(artistName) +
                                "&imageUrl=" + encodeURIComponent(imageUrl) +
                                "&sizeSelected=" + encodeURIComponent(sizeSelected) +
                                "&itemPrice=" + encodeURIComponent(itemPrice) +
                                "&totalPrice=" + encodeURIComponent(totalPrice) +
                                "&artId=" + encodeURIComponent(artId) +
                                "$quantity=" + encodeURIComponent(quantity) +
                                "&selectedPrice=" + encodeURIComponent(selectedPrice);
                            window.location.href = url;
                        }

                        </script>



                        <!-- For the 'Buy It Now' button -->
                        <script>

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}