{%  extends "layout.html" %}

{% block title %}
    artwork
{% endblock %}

{% block main %}


<div class="container-fluid mt-3">
    <div class="row justify-content-around">
        <!-- Artwork Image Container -->
        <div class="col-6">
            <div class="artwork-image" style="align-items: flext-start">
                <img src="{{ image_url }}" alt="{{ art_detail.title }}" class="img-fluid">
            </div>
        </div>

        <!-- Artwork Details Container -->
        <div class="col-6 text-start">
            <div class="art-details" style="padding-right: 15%">
                <h1>{{ art_detail.title }}</h1>
                <h5>by: {{ art_detail.artist_name }}</h5>
                <br>
                <p class="text-start">{{ art_detail.description }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}