{%  extends "layout.html" %}

{% block title %}
    artwork
{% endblock %}

{% block main %}

    <!-- mini-nav-bar for the art -->
    <div class="container-parent">
        <nav>
            <ol 'alignedleft'>
                <ul>

                </ul>
                <ul>

                </ul>
                <ul>

                </ul>
            </ol>
            <div>
                <a>
                    <span></span><span></span>
                </a>
                <a>
                    <span></span><span></span>
                </a>
            </div>
        </nav>
    </div>

    <div class="artwork-detail">
        <h2>{{ art_detail.title }}</h2>
        <p>By: {{ art_detail.artist_name }}</p>
        <img src="{{ image_url }}" alt="{{ art_detail.title }}">
        <p>{{ art_detail.description }}</p>
    </div>

    



{% endblock %}