{% extends "layout.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block main %}
<!-- See what other checkouts look like and copy -->
<div>
    <h1 class="majortitle">Shopping cart</h1>
</div>
<p id="emptyCartMessage">
    Your cart is currently empty
</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
    integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <div class="card border shadow-none">
                <div class="card-body">

                    <div class="d-flex align-items-start border-bottom pb-3">
                        <div class="me-4">
                            <img id="artImage" src="" alt="" class="img-fluid avatar-lg rounded">
                        </div>
                        <div class="flex-grow-1 align-self-center overflow-hidden">
                            <div>
                                <h5 id="artTitle" class="text-truncate font-size-18"><a href="#"
                                        class="text-dark"></a></h5>
                                <p class="mb-0 mt-1"><span id="artistName" class="fw-medium"></span></p>
                            </div>
                            <div>
                                <p class="mb-0 mt-1">Size: <span id="sizeSelected" class="fw-medium"></span></p>
                            </div>
                            <div>
                                <p class="mb-0 mt-1">Quantity: <span id="quantity" class="fw-medium"></span></p>
                            </div>
                            <div>
                                <p class="mb-0 mt-1">Total: <span id="itemPrice" class="fw-medium"></span></p>
                            </div>
                        </div>
                        <div class="flex-shrink-0 ms-2">
                            <ul class="list-inline mb-0 font-size-16">
                                <li class="list-inline-item">
                                    <a href="#" class="text-muted px-1" onclick="removeItemFromCart()">
                                        <i class="mdi mdi-trash-can-outline"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <div class="row my-4">
                <div class="col-sm-6">
                    <a href="/art" class="btn btn-link text-muted">
                        <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                </div>
                <!-- end col -->
                <div class="col-sm-6">
                    <div class="text-sm-end mt-2 mt-sm-0">
                        <a href="/checkout" class="btn btn-success">
                            <i class="mdi mdi-cart-outline me-1"></i> Checkout </a>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row-->
        </div>

        <div class="col-xl-4">
            <div class="mt-5 mt-lg-0">
                <div class="card border shadow-none">
                    <div class="card-body p-4 pt-2">

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Subtotal:<span></span></td>
                                        <td class="text-end" id="itemPrice2">$</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping:</td>
                                        <td class="text-end">free shipping</td>
                                    </tr>
                                    <tr>
                                        <td>Estimated Tax: </td>
                                        <td class="text-end" id="estimatedTax"></td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th>Total:</th>
                                        <td class="text-end">
                                            <span class="fw-bold" id="totalWithTax"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<script>
    function retrieveCart() {
        var cart = JSON.parse(sessionStorage.getItem("cart"));
        if (cart) {
            document.getElementById("emptyCartMessage").style.display = "none";
            var itemPrice2 = cart.itemPrice;
            var tax = itemPrice2 * 0.1025; // Calculate tax
            var totalWithTax = itemPrice2 + tax; // Calculate total with tax

            document.getElementById("artImage").src = cart.imageUrl;
            document.getElementById("artTitle").innerText = cart.artTitle;
            document.getElementById("artistName").innerText = cart.artistName;
            document.getElementById("sizeSelected").innerText = cart.sizeSelected;
            var itemPriceFormatted = cart.itemPrice.toLocaleString("en-US", {
                style: "currency",
                currency: "USD"
            });
            document.getElementById("itemPrice").innerText = itemPriceFormatted;
            var itemPrice2Formatted = itemPrice2.toLocaleString("en-US", {
                style: "currency",
                currency: "USD"
            });
            document.getElementById("itemPrice2").innerText = itemPrice2Formatted;
            document.getElementById("quantity").innerText = cart.quantity.toString();
            var taxFormatted = tax.toLocaleString("en-US", {
                style: "currency",
                currency: "USD"
            });
            document.getElementById("estimatedTax").innerText = taxFormatted;

            var totalWithTaxFormatted = totalWithTax.toLocaleString("en-US", {
                style: "currency",
                currency: "USD"
            });
            document.getElementById("totalWithTax").innerText = totalWithTaxFormatted;
        } else {
            console.log("Cart is empty.");
        }
    }

    window.onload = function () {
        retrieveCart();
    };

    function removeItemFromCart() {
        var cart = JSON.parse(sessionStorage.getItem("cart")) || [];
        if (cart.length > 0) {
            cart.splice(0, 1);
            document.getElementById("artImage").src = "";
            document.getElementById("artTitle").innerText = "";
            document.getElementById("artistName").innerText = "";
            document.getElementById("sizeSelected").innerText = "";
            document.getElementById("itemPrice").innerText = "";
            document.getElementById("quantity").innerText = "";
        }
        sessionStorage.setItem("cart", JSON.stringify(cart));
    }
</script>

{% endblock %}


