{% extends "layout.html" %}

{% block title %}
    Home (or nothing)
{% endblock %}

{% block main %}
<div>
    Welcome to Artfinity
    <!-- Have 'Hello { username } if logged in'-->
</div><br>
<div>
    Choose your local art scene to search for art and artist you like or search and browse your favorite artists
    <div style="text-align: right; padding-right: 100px">
        <input> <!-- Search bar here-->
        <button class="btn btn-light" type="search">Search</button>
    </div>
</div>
<div style="text-align: left; padding-left: 60px">
    <h4>Arts</h4>
</div>
<div id="artCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      {% for art in all_art %}
        <button type="button" data-bs-target="#artCarousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"></button>
      {% endfor %}
    </div>
    <!-- Carousel items -->
    <div id="artCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner mt-0">
            {% for chunk in all_art|batch(5, '&nbsp;') %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
              <div class="d-flex justify-content-center flex-wrap row g-5">
                {% for art in chunk %}
                <div class="col-2">
                  <a href="{{ art.url }}" class="text-decoration-none">
                    <div class="art-card">
                      <div class="art-image-carousel" style="background-image: url('{{ url_for('static', filename=art.image_url) }}');" data-title="{{ art.title }}"></div>
                      <div class="overlay">{{ art.title }}</div>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
          
        <button class="carousel-control-prev" type="button" data-bs-target="#artCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#artCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
  
      <div style="text-align: left; padding-left: 60px">
        <h4>Artists</h4>
    </div>
    <div id="artistsCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            {% for user in users|batch(4, '&nbsp;') %}
            <button type="button" data-bs-target="#artistsCarousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
        <!-- Carousel items -->
        <div class="carousel-inner mb-5 mt-0">
            {% for chunk in users|batch(4, '&nbsp;') %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="d-flex justify-content-center flex-wrap row g-5">
                    {% for user in chunk %}
                    <div class="col-3"> <!-- Adjusted for 4 artists per row -->
                        <a href="{{ url_for('artist_profile', artist_name=user.artist_name) }}" class="text-decoration-none">
                            <div class="art-card" style="max-height: 50px; max-width: 250px; margin: auto;">
                                <div class="art-image-carousel" style="background-image: url('{{ url_for('static', filename=user.profile_picture_url if user.profile_picture_url else 'default-profile.jpg') }}');" data-title="{{ user.artist_name }}"></div>
                                <div class="overlay">{{ user.artist_name }}</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#artistsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#artistsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    

<div style="text-align: left; padding-left: 60px">
    <h4>City Art Scenes</h4>
</div>
<div class="container-parent mb-5">
    <div class="container-fluid mt-0 mb-5">
        <div class="row g-4 mt-0 mb-5">
            {% if scenes %}
                {% for scene in scenes %}
                <!-- Update: Make the whole card clickable -->
                <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                    <a href="{{ url_for('scene_art', scene_id=scene.scene_id) }}" class="text-decoration-none">
                        <div class="art-card1 card">
                            <!-- Replace img with a div for the square aspect ratio -->
                            <div class="art-image" style="background-image: url('{{ url_for('static', filename=scene.scene_city_picture) }}');" data-title="{{ scene.scene_city_name }}"></div>
                            <div class="card-body">
                                <h5 class="card-title black-font">{{ scene.scene_city_name }}</h5>
                                <p class="card-text">{{ scene.scene_city_description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}