{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
  <div>
    <h5 class="main-heading">
        Let's get registered
    </h5>
  </div>

  <div class="container-parent">
      <form action="/register" class="needs-validation row" enctype="multipart/form-data" id="registration_form" method="POST" name="registratin_form" novalidate method="POST">

          <div class="column row">
            <div class="col-md-4">
              <label for="first_name" class="form-label">First name</label>
              <input type="text" class="form-control" id="first_name" placeholder="Frida" required>
            </div>
            <div class="col-md-4">
              <label for="last_name" class="form-label">Last name</label>
              <input type="text" class="form-control" id="last_name" placeholder="Basquiat" required>
            </div>
            <div class="col-md-4">
              <label for="artist_name" class="form-label">Artist Name</label>
              <div class="input-group">
                <input type="text" class="form-control" id="artist_name"  aria-describedby="inputGroupPrepend2" placeholder="Frida Basquiat" required>
              </div>
            </div>
            <div class="col-md-3">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" required>
            </div>
            <div class="col-md-3">
              <label for="state" class="form-label">State</label>
              <select class="form-select" id="state" name="state" required>
                  <option value="" disabled selected>Choose...</option>
                  {% for state_code, state_name in state_options.items() %}
                      <option value="{{ state_code }}">{{ state_name }}</option>
                  {% endfor %}
              </select>
          </div>
          
            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Agree to terms and conditions
                </label>
              </div>
            </div>

            <div class="col-md-3 form-floating mb-3">
              <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" required type="email">
              <label for="email">email</label>
            </div>

            <div class="col-md-3 form-floating mb-3">
                <input aria-describedby="passwordHelpBlock" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" required type="password">
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 6-20 characters long, contain letters and numbers, can include special characters, and must not contain spaces or emoji.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password_confirmation" name="password_confirmation" placeholder="Confirm password" required type="password">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>
{% endblock %}