{% extends "layout.html" %}

{% block title %}
    Cities
{% endblock %}

{% block main %}
<!-- A-Z list of cities - start with the US then go worldwide 
when you click on a city it takes you to a random selection of art from that city -->

<!-- we can put a search in later ;)
<div style="text-align: right; padding-right: 100px">
    <input> <!-- Search bar here
    <button class="btn btn-light" type="search">Search</button>
    </div>
-->
 


<div class="container mt-5">
    <h2>City Art Scenes</h2>
    <div class="row">
        {% for scene in scenes %}
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('scene_art', scene_id=scene.scene_id) }}" style="text-decoration: none; color: inherit;">
                <div class="art-card1 card h-100">
                    <img src="{{ url_for('static', filename=scene.scene_city_picture) }}" class="card-img-top" alt="{{ scene.scene_city_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ scene.scene_city_name }}</h5>
                        <p class="card-text">{{ scene.scene_city_description }}</p>
                        <!-- Optionally, you can include other details like artist name, price, etc. -->
                        <!-- The View Art button is removed since the whole card is now clickable -->
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}