{% extends "layout.html" %}

{% block title %}
    Upload your brilliance
{% endblock %}

{% block main %}

    <div class="container-parent">
        <form class="row g-4" enctype="multipart/form-data" id="upload_form" method="POST">
            <div class="container-half">
                <div class="profile-image">
                    <img id="placeholder-img.jpg" src="placeholder-img.jpg">
                    <div class="add-picture-overlay">
                        <label for="image_url" class="upload-label" id="upload_text">Click here to upload your art</label>
                        <input type="file" id="image_url" name="image_url" accept="image/*" style="display: none;">
                    </div>
                    <img id="imagePreview" src="#" alt="Image Preview" class="img-preview" style="display:none;"/>
                </div>
                <div class="container-parent">
                </div>
            </div>
            
            <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        
                        reader.onload = function(e) {
                            document.getElementById('imagePreview').src = e.target.result;
                            document.getElementById('imagePreview').style.display = 'block';

                            // Hide the placeholder image and upload text
                            document.getElementById('placeholder_image').style.display = 'none';
                            document.getElementById('upload_text').style.display = 'none';
                        }
                        
                        reader.readAsDataURL(input.files[0]); // convert to base64 string
                    }
                }
            
                document.getElementById('image_url').onchange = function() {
                    readURL(this);
                };
            </script>
            

            <div class="container-half" style="text-align: left;">
                <div class="row g-4" enctype="multipart/form-data" id="" method="POST">
                    <div>
                        <div class="col-md-6">
                            <label for="name" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="artwork title" required>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-6">
                            <label for="materials" class="form-label">Materals</label>
                            <input type="text" class="form-control" id="materials" name="materials" placeholder="e.g. oil on canvas" required>
                        </div>
                    </div>
                    <div>               
                        <div class="col-md-6">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" id="description" name="description" required></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-6">
                            <label for="genres" class="form-label">Genre(s)</label>
                            <input type="text" class="form-control" id="genres" name="genres" required>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-6">
                            <label for="genres" class="form-label">Original size</label>
                            <input type="text" class="form-control" id="original_size" name="original_size" placeholder="e.g. 8.5 x 11" required>
                        </div>
                    </div>
                    <div>
                        <label for="print_sizes" class="form-label">Print size options for sale</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="4.25 x 5.5" id="print_size_a5" name="print_size_a5">
                        <label class="form-check-label" for="size1">4.25 x 5.5</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="8.5 x 11" id="print_size_a4" name="print_size_a4">
                        <label class="form-check-label" for="size2">8.5 x 11</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="11 x 17" id="print_size_a3" name="print_size_a3">
                        <label class="form-check-label" for="size3">11 x 17</label>
                    </div>

                    <div>
                        <div class="col-md-3">
                            <label for="genres" class="form-label">Size price</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="a5_price" min="14.99" name="a5_price" value="14.99" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="a4_price" min="24.99" name="a4_price" value="24.99" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="a3_price" min="39.99" name="a3_price" value="39.99" required>
                            </div>
                        </div>
                    </div>

                    <script>
                        document.getElementById("upload_form").addEventListener("submit", function(event) {
                            var a5_price = parseFloat(document.getElementById("a5_price").value);
                            var a4_price = parseFloat(document.getElementById("a4_price").value);
                            var a3_price = parseFloat(document.getElementById("a3_price").value);
                            
                            if (a5_price < 14.99 || a4_price < 24.99 || a3_price < 39.99) {
                                event.preventDefault(); // Prevent form submission
                                alert("Prices must be at least $14.99, $24.99, and $39.99 respectively.");
                            }
                        });
                    </script>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                        Agree to terms and conditions
                        </label>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary col-md-3" type="submit">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}